.header {
    position: fixed;
    background-color: #1B2530;
    height: 60px;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: left;
}

.header__left {
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__left img {
    margin-left: 18px;
    margin-right: 16px;
    justify-content: flex-start;
    height: 30px;
}

.header__middle {
    flex: 0.8;
}

.header__middle button {
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
    line-height: 24px;
    font-size: 17px;
    color: rgba(242,244,246,.7);
    text-decoration: initial;
    padding-bottom: 2px;
    margin-right: 16px;
    margin-top: 18px;
    padding: 0;
}

.header__middle button .MuiSvgIcon-root {
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    padding-bottom: 2px;
}

.header__middle button:first-child {
    color: #fff;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    padding-bottom: 0;

}

.header__middle button:hover {
    color: white;
    transition: color 0.2s ease-in-out;
}

.header__right {
    flex: 0.1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(242,244,246,.7);
}

.header__accountButton {
    border-right: 1px solid #425265;
    padding-right: 24px;
}